# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Metro
.metro-health-check*

# Secrets & environment
.env
.env.local
.env.*.local

# Build artifacts
build/
*.tsbuildinfo

# Editor
.DS_Store
*.sw?
.vscode/
.idea/

# Testing
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# EAS
.eas/
